<body>
<div class="form-container">
  <form class="form">
    <h1>Wachtwoord vergeten</h1>
    <hr>
    <p>Bent u uw wachtwoord vergeten? Voer hier uw e-mailadres in die gekoppeld is aan dit account.</p>
    <p>U ontvangt een e-mail met een nieuw gegenereerd wachtwoord.</p>
    <div class="form-group-vertical">
      <label class="label">E-mailadres</label>
      <input name="email" type="email" class="field-primary" placeholder="E-mailadres invoeren" [(ngModel)]="email">
    </div>
    <button class="button-primary" (click)="resetPassword()">Verzend nieuw wachtwoord</button>
    <hr>
    <div class="form-group-horizontal">
      <div class="form-group-vertical">
        <label class="label">Wilt u inloggen?</label>
        <button class="button-primary" [routerLink]="['/login']">Log hier in</button>
      </div>
      <div class="form-group-vertical">
        <label class="label" [routerLink]="['/register']">Nog geen account?</label>
        <button class="button-primary" [routerLink]="['/register']">Registreren</button>
      </div>
    </div>
  </form>
</div>
</body>
