thead {
  background-color: #1d2951;
  color: white;
}

.table-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow-y: scroll;
  border-bottom: #1d2951 5px solid;
}

.sticky-top {
  z-index:0
}

table {
  overflow-wrap: anywhere;
}

th {
  min-width: 11vw;
}
