h2 {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  height: 4.1vh;
}

.questions-container {
  border-top: #1d2951 5px solid;
  border-bottom: #1d2951 5px solid;
  overflow: visible;
  overflow-y: scroll;
  height: 77.5vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question {
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.question-text {
  background-color: rgba(#1d2951, 0.9);
  color: white;
  font-weight: bold;
  overflow-wrap: anywhere;
}

textarea {
  width: 100%;
  height: 10vh;
  text-wrap: normal;
}

.field-primary::placeholder {
  font-size: 16px;
}
