.navbar-brand {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  color: white;
  grid-column-gap: 5px;
}

nav {
  background-color: #1d2951;
  color: white;
  display: flex;
  gap: 10px;
}

a:hover {
  cursor: pointer;
}

label {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px inset;
  background-color: #455588;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
