.navbar-brand {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  color: white;
  grid-column-gap: 5px;
}

nav {
  background-color: #1d2951;
  color: white;
  display: flex;
  gap: 10px;
}

a:hover {
  cursor: pointer;
}
