<app-navbar></app-navbar>
<body class="mx-5 my-3">
<div class="flex">
  <h2>Beantwoorde Vragenlijsten</h2>
  <div class="button-box">
    <button class="button-primary px-3" [disabled]="selectedQuestionnaire == undefined" (click)="inspect()"><mat-icon>search</mat-icon>Bekijken</button>
    <button class="button-secondary px-3" [disabled]="selectedQuestionnaire == undefined" (click)="showDeleteAlert()"><mat-icon>delete</mat-icon>Verwijderen</button>
  </div>
</div>
<hr>
<app-table [columns]="['Vragenlijst', 'Cliënt', 'Datum Ingevuld']" [height]="80">
  <tr *ngFor="let answeredQuestionnaire of answeredQuestionnaires"
      class="questionnaire"
      (click)="setSelectedQuestionnaire(answeredQuestionnaire)"
      [ngStyle]="selectedQuestionnaire === answeredQuestionnaire ? {'background-color': 'rgba(29, 41, 81, 0.7)'} : {}" [ngClass]="selectedQuestionnaire == answeredQuestionnaire ? 'white' : 'black'">
    <th class="column px-4" scope="row"> {{ answeredQuestionnaire.questionnaire?.name }} </th>
    <td class="column px-4"> {{ answeredQuestionnaire.clientName }} </td>
    <td class="column px-4"> {{ answeredQuestionnaire.dateCreated }} </td>
  </tr>
</app-table>
</body>

