<app-navbar></app-navbar>
<body class="mx-5 my-3">
  <div class="flex">
    <h2>Vragenlijsten</h2>
    <div class="button-box">
      <button [hidden]="accountIsCaregiver()" [disabled]="selectedQuestionnaire == undefined" class="button-secondary px-3" (click)="showDeleteAlert()"><mat-icon>delete</mat-icon>Verwijderen</button>
      <button [hidden]="accountIsCaregiver()" [disabled]="selectedQuestionnaire == undefined" class="button-primary px-3" (click)="inspectQuestionnaire()"><mat-icon>dvr</mat-icon>Data Inzien</button>
      <button [hidden]="accountIsCaregiver()" [disabled]="selectedQuestionnaire == undefined" class="button-primary px-3" (click)="editQuestionnaire()"><mat-icon>edit</mat-icon>Aanpassen</button>
      <button [hidden]="!accountIsCaregiver()" [disabled]="selectedQuestionnaire == undefined" class="button-primary px-3" (click)="answerQuestionnaire()" id="answerQuestionnaireButton"><mat-icon>list</mat-icon>Invullen</button>
      <button [hidden]="accountIsCaregiver()" class="button-primary px-3" (click)="createQuestionnaire()" id="createQuestionnaireButton"><mat-icon>add</mat-icon>Vragenlijst Aanmaken</button>
    </div>
  </div>
  <hr>
  <app-table [columns]="['Naam', 'Aantal Vragen', 'Datum Aangemaakt', 'Keer Ingevuld']" [height]="80">
    <tr *ngFor="let questionnaire of questionnaires"
        class="table-item"
        (click)="setSelectedQuestionnaire(questionnaire)"
        [ngStyle]="selectedQuestionnaire === questionnaire ? {'background-color': 'rgba(29, 41, 81, 0.7)'} : {}" [ngClass]="selectedQuestionnaire == questionnaire ? 'white' : 'black'">
      <th class="column px-4" scope="row"> {{ questionnaire.name }} </th>
      <td class="column px-4"> {{ questionnaire.length }} </td>
      <td class="column px-4"> {{questionnaire.dateCreated }} </td>
      <td class="column px-4"> {{questionnaire.answeredCount }} </td>
    </tr>
  </app-table>
</body>
