.icon-background {
  border-radius: 20px !important;
  min-width: 40px;
  display: flex;
  min-height: 40px;
}

mat-icon {
  margin: auto;
}

.questionnaire-name {
  display: flex;
  gap: 10px;
}

h2 {
  max-width: 75vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name-input {
  min-width: 200px;
}

.middle {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.6fr 0.4fr;
}

.table-item:hover .column {
  background-color: rgba(#1d2951, 0.2);
  cursor: pointer;
}

.top-bar {
  height: 4vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 8fr 2fr;
}
