<app-navbar></app-navbar>
<body class="mx-5 my-3">
  <div class="col-xs-12">
    <div class="flex">
      <h2>Data van '{{ questionnaire.name }}'</h2>
      <div class="button-box">
        <button class="button-primary px-3" (click)="cancelInspect()" id="returnButton"><mat-icon>keyboard_return</mat-icon>Terug</button>
      </div>
    </div>
    <hr>
    <div class="questions-container px-3 py-3">
      <div *ngFor="let employedQuestion of employedQuestions;index as i" class="card">
        <div class="card-header">
          Vraag {{i+1}}/{{employedQuestions.length}}: {{employedQuestion.question?.text}} ({{employedQuestion.answeredAmount}} van de {{filledAmount}} keer ingevuld)
        </div>
        <div class="card-body">
          <blockquote class ="blockquote mb-0">
            <p>Type vraag: {{employedQuestion.question?.type}}</p>
            <p>Verplicht: {{employedQuestion.mandatory}}</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</body>
