dt{
  padding-left: 20px;
}

dd{
  padding-left: 20px;
}

.card{
  padding-bottom: 30px;
  width: 80rem;
  margin:20px;
}

.return{
  color: white;
  background-color: #6883ba;
  padding: 10px 20px;
  border-radius: 4px;
}

.button-box {
  margin-left: auto;
  display: flex;
  gap: 10px;
}







