.button-container{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}
h2 {
  position: absolute;
}

button {
  margin-left: 10px;
}


tr:hover .column{
  cursor: pointer;
  background-color: rgba(#1d2951, 0.2);
}
