<app-navbar></app-navbar>
<body class="mx-5 my-3">
<h3>Accounts</h3>
<hr>
<div class="table-container">
  <table class="table table-responsive-md table-striped">
    <thead class="sticky-top">
    <tr>
      <th scope="col">Voornaam</th>
      <th scope="col">Achternaam</th>
      <th scope="col">E-mailadres</th>
      <th scope="col">Type account</th>
      <th scope="col">Geautoriseerd</th>
      <th scope="col">Acties</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts">
      <td class="column"> {{ account.firstName }}</td>
      <td class="column"> {{ account.lastName }}</td>
      <td class="column"> {{ account.email }}</td>
      <td class="column"> {{ account.type?.name}} account</td>
      <td class="column"> {{ account.authorised}}</td>
      <td class="column">
        <button class="btn btn-primary" (click)="authorizeAccount(account)">Autoriseren</button>
        <button class="btn btn-danger" (click)="deleteAccount(account)">Verwijderen</button>
      <td class="column"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
